.title {
  text-transform: uppercase;
}

.content {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer,
.input {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
